{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "indent": [2, "tab"],
    "react/jsx-indent-props": [2, "tab"],
    "react/jsx-indent": [2, "tab"],
    "no-tabs": 0,
    "import/extensions": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".jsx",
          ".tsx"
        ]
      }
    ],
    "react/jsx-props-no-spreading": 0,
    "object-curly-spacing": ["error", "always", {
      "arraysInObjects": false
    }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx",
          ".jpg"
        ]
      }
    }
  }
}
